body {
    background-image: url(../images/background.png);
    background-size: cover;
}

button {
    width: 200px;
    height: 75px;
    margin-top: 200px;
}

h1 {
    font-size: 70px;

}

#timer {
    margin: auto;
}


.hide { display: none; }
